
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;

}

/* gonna style the nav bar */

.navbar{
    position:fixed;
    width: 100%;
    padding: 15px 0;
    background: rgb(34, 34, 34);
}

.navbar .logo a{
    color:#fff;
    font-size: 35px;
    font-weight: 600;
    font-family: poppins;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .max-width{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar .menu li a{
    color:rgb(39, 175, 118);
    font-family: ubuntu;
    font-weight: 500;
    font-size:18px;
    margin-left: 25px;

}

.navbar .menu li a:hover{
    color:rgb(205, 247, 229);
    font-family: ubuntu;
    font-weight: 500;
    font-size:18px;
    margin-left: 25px;

}